.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img {
    width: 500px;
    display: block;
    margin: 2rem 0;
}

.heading {
    margin-top: 2rem;
    color: var(--text-color2);
}

@media screen and (max-width: 500px) {
    .img {
        width: 300px;
    }
}
