.Button {
    background-color: var(--main-color);
    font-size: 1.3rem;
    color: var(--text-color);
    padding: 1rem 2rem;
    margin-top: 1rem;
    border: none;
    cursor: pointer;
    transition: all 0.4s;
    position: relative;
    overflow: hidden;
}

.Button:hover {
    color: var(--hover-color);
}

.Button:active {
    transform: translateY(5px);
}

.Button::before {
    content: "";
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, transparent, var(--text-color), transparent);
    position: absolute;
    top: 0;
    left: -100%;
    transform: skewX(-30deg);
    transition: all 0.4s;
}

.Button:hover::before {
    left: 100%;
}
